/* 
color bar = #303a54
color bo = #eadacd */

body {
    color: white;
    font-family: 'Droid Arabic Kufi';
    font-style: normal;
    font-weight: 400;
    src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'),
        url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Regular.woff) format('woff'),
        url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Regular.ttf) format('truetype');
    background: #141A31;
}

.b-up {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 900000;
    cursor: pointer;
    background-color: #0c8a88;
    font-size: 22px;
    color: #ffffff;
    line-height: 0;
    padding: 12px 15px;
    border-radius: 50%;
}

.b-up:hover {
    background-image: linear-gradient(139deg, rgb(19 197 165) 0%, rgb(255 0 170) 100%);
}

/* =====================animation==================== */
/* ===animation squares=== */

@keyframes move-left-right {
    0% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(-10px);
    }
}


/* =====================header==================== */
.linkul.me-auto {
    margin-right: 190px !important;
}

.navbar {
    border-bottom: 1px solid #ffffff5c;
    padding: 15px;
    background-color: #0b1020;
    box-shadow: 0px 0px 25px 0 rgb(0 0 0 / 8%);
}

.navbar-light .navbar-brand {
    color: white;
    font-size: 1.8rem;
    margin: 0;
}

.navbar-light .img-brand {
    width: 8%;
}
.navbar-nav .nav-b{
    display: none;
}
.navbar-nav .nav-link {
    font-size: 18px;
    position: relative;
    overflow: hidden;
    transition: 0.8s;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255);
    margin: 0 7px;
    font-size: 16px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(52 183 167);
}

.navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    width: 85%;
    height: 3px;
    background-color: white;
    bottom: 0px;
    right: 100%;
    transition: 0.35s;
}

.navbar-nav .nav-link.active::before {
    right: 0%;
}

.navbar-light .navbar-nav .nav-link.active {
    color: white;
}

.navbar-nav .nav-link.active {
    overflow: visible;
    color: white;
}

.navbar-nav .nav-link:hover::before {
    right: 0;
}

/* =====================hero===================== */
#hero {
    color: white;
    background-color: #141a31c4;
    padding: 30px;
}

#hero h1 {
    padding: 10px;
    font-size: 28px;
}

#hero h2 {
    color: rgb(255 255 255 / 50%);
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.btn-about {
    font-weight: 600;
    color: #fff !important;
    padding: 12px 30px;
    border-radius: 7px;
    transition: 0.5s;
    margin-top: 30px;
    background: #0c8a88;
    text-decoration: none;
}

.btn-about:hover {
    background-image: linear-gradient(139deg, rgb(19 197 165) 0%, rgb(255 0 170) 100%);
}

/* =====================section service===================== */

section {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
    color: white;
}

.text-center {
    padding-bottom: 25px;
    text-transform: capitalize !important;
}

.under-line {
    color: white;
    border-bottom: 5px solid cadetblue;
}

.row {
    padding: 20px 0;
}
.card-title {
    color: #0c8a88;
}
.card {
    box-shadow: 0px 0px 25px 0 rgb(0 0 0 / 8%);
    align-items: center;
    background-clip: border-box;
}

.card-body {
    opacity: 1 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

/* =====================footer===================== */

#footer {
    font-family: sans-serif;
    background: #0b1020;
    padding: 30px 0;
    border-top: 1px solid rgb(255 255 255 / 25%);
    color: white;
    font-size: 14px;
    text-align: center;
}

#footer .credits a {
    text-decoration: none;
    color: #13c5a5;
}

.img-b.card-img-top {
    border: none;
}

/* =====================squares===================== */
.squ {
    animation: move-left-right 4s infinite;
    animation: move-left-right 4s infinite;
    background: #c0c0c0;
    background: -webkit-linear-gradient(51deg, #c0c0c0 0%, #c0c0c0 100%);
    background: -o-linear-gradient(0deg, #c0c0c0 0%, #c0c0c0 100%);
    background: -moz-linear-gradient(0deg, #c0c0c0 0%, #c0c0c0 100%);
    background: linear-gradient(126deg, #c0c0c0 0%, #fdfafc 100%);
    position: absolute;
    transition: 0.5s cubic-bezier(0.4, 0, 1, 1);
    overflow: hidden;
    border-radius: 20%;
    opacity: 0.4;
    z-index: -1;
}

.squ1 {
    background: #fff;
    height: 220px;
    width: 300px;
    left: 3%;
    top: -15%;
}

.squ2 {
    opacity: 0.2;
    background-image: linear-gradient(139deg, rgb(19 197 165) 0%, rgb(255 0 170) 100%);
    height: 450px;
    width: 400px;
    left: 60%;
    top: -10%;
}

.squ3 {
    border-radius: 50%;
    height: 165px;
    width: 165px;
    left: 22%;
    top: 70%;
    opacity: 0.1;
}

.squ4 {
    background-image: linear-gradient( 
139deg, rgb(19 197 165) 0%, rgb(255 0 170) 100%);
    z-index: -1;
    height: 330px;
    width: 300px;
    left: 3%;
    top: 150%;
}

.squ5 {
    height: 120px;
    width: 120px;
    left: 70%;
    top: 128%;
}

.squ6 {
    background-image: linear-gradient(139deg, rgb(19 197 165) 0%, rgb(255 0 170) 100%);
    opacity: 0.5;
    height: 85px;
    width: 85px;
    left: 87%;
    top: 197%;
    z-index: 1;
}

/* *****re**** */

.squ4r {
    background: linear-gradient(183deg, #14a28d 0, #b27630 132%);
    z-index: -1;
    height: 330px;
    width: 300px;
    left: 35%;
    top: 150%;
    opacity: 0.7;
}

.squ3r {
    background: linear-gradient(143deg, #00ffd9 0, #141a31 65%);
    border-radius: 50%;
    height: 165px;
    width: 180px;
    left: 42%;
    top: 60%;
    opacity: 0.5;
}

.squ6r {
    background-image: linear-gradient(
139deg, rgb(19 197 165) 0%, rgb(255 0 170) 100%);
    opacity: 0.5;
    height: 85px;
    width: 85px;
    left: 87%;
    top: 275%;
    z-index: 1;
}
.squ3-c {
    height: 95px;
    width: 95px;
    border-radius: 50%;
    left: 1%;
    top: 91%;
    background-image: linear-gradient(139deg, rgb(19 197 165) 0%, rgb(255 0 170) 100%);
    z-index: 1;
}
/* =====================squares===================== */

/*$$$$$$$=========== contact===============$$$$$$$$ */
.contact-form {
    padding: 30px 0;
}

.form-control {
    text-align: right;
    color: #fff;
    background-color: rgb(99 102 116);
}

.form-control::placeholder {
    font-size: 12px;
    color: #fff;
}

.form-control:focus {
    border-color: cadetblue;
    box-shadow: 0 0 0 3px cadetblue;
}

.btn-primary {
    background-color: #0c8a88;
    border: none;
}

.btn-primary:hover {
    background-image: linear-gradient(139deg, rgb(19 197 165) 0%, rgb(255 0 170) 100%);
}

/*$$$$$$$=========== ratings ===============$$$$$$$$ */

.roadmap {
    padding-top: 120px;
    padding-bottom: 115px;
}

.roadmap .roadmap-items {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 0 40px;
}

.roadmap-items:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(180deg, #232e43 -43.08%, #232e43 -7.55%, #192338 33.87%, #232e43 82.91%);
    border: 0.5px solid #27344c;
    width: 5px;
    height: 108%;
}

.roadmap-item {
    position: relative;
    background: #141a31;
    color: #fff;
    width: 43.3%;
    padding: 40px 30px;
    margin-bottom: 117px;
    border-radius: 6px;
    border-top: 1px solid #191f36;
}

.roadmap-item.right {
    margin-top: 90px;
    margin-bottom: -130px;
}

.roadmap-item::before {
    content: "";
    position: absolute;
    right: -1px;
    bottom: -1px;
    width: calc(100% + 2px);
    height: 100%;
    background: linear-gradient(135deg, #191f36 48%, #13c5a5 100%);
    border-radius: 7px;
    z-index: -1;
}

.roadmap-item.orange::before {
    background: linear-gradient(135deg, #191f36 48%, #f1992d 100%);
}

.roadmap-item.purble::before {
    background: linear-gradient(135deg, #191f36 48%, #e769cb 100%);
}

.roadmap-item::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -65px;
    background: linear-gradient(135deg, #191f36 47%, #13c5a5 100%);
    width: 65px;
    height: 6px;
}

.roadmap-item.right::after {
    right: -66px;
    left: auto;
}

.roadmap-item.orange::after {
    background: linear-gradient(135deg, #191f36 47%, #f1992d 100%);
}

.roadmap-item.purble::after {
    background: linear-gradient(135deg, #191f36 47%, #e769cb 100%);
}

.roadmap-item-inner {
    position: relative;
    z-index: 1;
}

.roadmap-item-inner::after {
    content: "";
    position: absolute;
    top: -40px;
    left: -30px;
    width: calc(100% + 60px);
    height: calc(100% + 80px);
    background: linear-gradient(133deg, rgba(19, 197, 165, 0) 36%, rgba(19, 197, 165, 0.12) 92%);
    border-radius: 0;
    z-index: -1;
}

.roadmap-item.orange .roadmap-item-inner::after {
    background: linear-gradient(133deg, rgba(241, 153, 45, 0) 36%, rgba(241, 153, 45, 0.12) 92%);
}

.roadmap-item.purble .roadmap-item-inner::after {
    background: linear-gradient(133deg, rgba(231, 105, 203, 0) 36%, rgba(231, 105, 203, 0.12) 92%);
}

.roadmap-item-inner .number {
    position: relative;
    width: 70px;
    height: 70px;
    display: block;
    line-height: 70px;
    margin-bottom: 30px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(19, 197, 165, 0.1) 100%);
    border-radius: 50%;
    text-align: center;
    font-size: 23px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    letter-spacing: .6px;
}

.roadmap-item-inner .number span {
    color: #fff;
    position: relative;
    z-index: 9999;
}

.roadmap-item.orange .roadmap-item-inner .number {
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(241, 153, 45, 0.1) 100%);
}

.roadmap-item.purble .roadmap-item-inner .number {
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(231, 105, 203, 0.1) 100%);
}

.roadmap-item-inner h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 15px;
}

.roadmap-item-inner p {
    color: #efecec;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 0;
}